doctype html
html(lang='ja')
  head
    include _includes/head
  body
    include _includes/header
    include _includes/footer
    include _includes/footer_scripts
    script( src='./js/contents/app.js')
