/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

body {
	position: relative;
	color: #ffffff;
}

.wrap {
	position: relative;
	z-index:2;

	div {
	}
}

#junic-world {
	position: absolute;
	z-index: 1;
	top:0;
	left:0;
}
