meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
meta(http-equiv='Content-style-type', content='text/css')
meta(http-equiv='Content-script-type', content='text/javascript')
meta(name='keywords', content='')
meta(name='description', content='')
meta(name='author', content='sv.junic@gmail.com')
meta(name='copyright', content='Copyright (c) sv.junic. All Rights Reserved.')
link(rel='shortcut icon', href='/img/favicon.ico', type='image/vnd.microsoft.icon')
link(rel='stylesheet', type='text/css', href='/css/screen.css', media='all')
title sv.junic
